h1 {
  font-size: 40px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
  background-color: lightgrey;
}
p1 {
  font-size: 24px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
p2 {
  font-size: 18px;
  font-style: italic;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
